<div class="parallax-window" data-parallax="scroll" data-position="0px 89px" data-image-src="<%= asset_path 'programs_header.jpg' %>" >
</div>

<div class="col-sm-2"></div>
<div class="col-sm-8">
  <h3 class="block-quote">
      Since its inception, the 100 Club of Chicago has served 258 families with more than $9 million, of which more than $4 million was devoted to educational assistance.
  </h3>
</div>

<div class="container">

<div>
  <span class="heading">Our Programs</span>
</div>

<div class="allprograms">
  <div id="first_response">
    <%= image_tag("programsa.jpg") %>
    <span class="box-heading">First Response Assistance</span>
    <p class="summary-box">Financial support is provided to families of fallen responders within 24 hours and in the following weeks.</p>
    <div class="star-container">
      <div class="star">
        <span class="number">$10</span>
        <span class="what">Million</span>
        <span class="action">given to <br> families</span>
      </div>
    </div>
  </div>

  <div id="education">
    <%= image_tag("programsb.jpg") %>
    <span class="box-heading">Educational Assistance</span>
    <p class="summary-box">Grants and scholarships to the spouses and children of fallen first responders for higher education.</p>
    <div class="star-container">
      <div class="star">
        <span class="number">618</span>
        <span class="what">Dependents</span>
        <span class="action">supported <br> over the years</span>
      </div>
    </div>
  </div>

  <div id="gold-shield">
    <%= image_tag("programsc.jpg") %>
    <span class="box-heading">Gold Shield Partners</span>
    <p class="summary-box">Professional support in the areas of Health, Education, Job Training, and Insurance.</p>
    <div class="star-container">
      <div class="star">
        <span class="number">216</span>
        <span class="what">Families</span>
        <span class="action">benefited<br> from this</span>
      </div>
    </div>
  </div>
</div>


<div class="eachprogram">

  <div>
    <div class="row">
      <h3 class="gold_headers"><span class="number">1.</span> First Response Assistance</h3>

      <div class="col-md-8">
        <span class="sub-heading">Financial Suport is Provided to Families of Fallen First Responders</span>
        
        <p>While money can never replace the loss of a loved one, funds can be extremely helpful in easing the financial burden associated with the tragic event.</p>
        
        <p>That is why when tragedy strikes in Cook or Lake County, the 100 Club of Chicago – the civilian organization that provides for the families of fallen police officers, firefighters and paramedics – immediately responds with financial support to help lessen the devastating effects.</p>
        
        <span class="sub-heading">First 24 Hours</span>
        
        <p>Within the first 24 hours following a loss of life in the line-of-duty, the 100 Club of Chicago presents an initial check to the surviving spouse or dependent parent to help cover the family’s immediate financial needs.</p>
        
        <span class="sub-heading">Within Several Weeks</span>
        
        <p>Within several weeks of a loss of life, the 100 Club of Chicago:</p>

        <ul>
          <li class="huge">Meets with the family a second time to present an additional check totaling $50,000 to defray a portion of the family’s debts.</li>
          <li class="huge">Advises the family of future financial assistance for post-secondary education.</li>
        </ul> 
      </div>

      <div class="col-md-4">
        <%= image_tag("programs1.jpg") %>
        <%= image_tag("programs2.jpg") %>
      </div>
    </div>
  </div>

  <hr class="programs">

  <div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="gold_headers"><span class="number">2.</span> Educational Assistance</h3>
      </div>

      <div class="col-md-8">
        <p>The 100 Club Educational Assistance Program is available to the spouses and children of fallen first responders for higher education, including trade and vocational schools, colleges, and universities – – grants and scholarships are for both undergraduate and graduate levels.</p>

        <span class="sub-heading">Program Overview</span>

        <p>Each year the 100 Club will provide a number of grants to the biological, adopted and stepchildren of those law enforcement officers, firefighters and EMS providers who have lost their lives in the line of duty. This includes all federal, state, county and local first responders stationed in Cook and Lake Counties. Grants may also be made to the surviving spouse of a 100 Club Hero. Please utilize the information and resources through the below link when embarking on your grant application process. Contact Caitlyn Brennan with questions at 312.265.0920 or cbrennan@100clubchicago.org</p>

        <span class="sub-heading">Education Assistance Facts</span>

        <ul class="programs">
          <li class="huge">19 children received educational assistance in the 2014 – 2015 school year</li>
          <li class="huge">50 children are eligible for future educational assistance</li>
          <li class="huge">$246,332 in assistance was provided in the past year</li>
          <li class="huge">572 children and spouses have been offered assistance since 1970</li>
          <li class="huge">$3,630,000 in assistance has been provided since 1970</li>
        </ul>

        <span class="sub-heading">Current Recipients</span>

        <p>Current educational assistance recipients are attending the following institutions:</p>

        <ul>
          <li class="huge">Butler University</li>
          <li class="huge">Columbia College Chicago</li>
          <li class="huge">Concordia University (Chicago)</li>
          <li class="huge">DePaul University</li>
          <li class="huge">Eastern Illinois University</li>
          <li class="huge">Howard University</li>
          <li class="huge">Illinois State University</li>
          <li class="huge">The John Marshall Law School</li>
          <li class="huge">Loyola University (Chicago)</li>
          <li class="huge">Northeastern Illinois University</li>
          <li class="huge">Northwestern University</li>
          <li class="huge">Purdue University</li>
          <li class="huge">St. Ambrose University</li>
          <li class="huge">University of Iowa</li>
        </ul>
        
        <p>For current scholars, please click here for more information.</p>
      </div>

      <div class="col-md-4">
        <%= image_tag("programs3.jpg") %>
        <%= image_tag("programs4.jpg") %>
        <%= image_tag("programs5.jpg") %>
      </div>
    </div>
  </div>

<hr class="programs">

  <div>
    <div class="row">
      <div class="col-md-12">
        <span class="gold_headers"><span class="number">3.</span> Gold Shield Partners</span>
      </div>
      <div class="col-md-8">
        <p>The 100 Club of Chicago Gold Shield Partners Program includes six businesses/organizations that represent the best in their respective industry. These organizations work with the families of the fallen to provide them with <span class="sub-heading">pro bono professional support in the areas of Health, Law, Finance, Education, Job Training and Insurance.</span></p>
        <span class="sub-heading">Gold Shield Partners include:</span>
          <ul>
            <li class="huge">Mesirow Financial</li>
            <li class="huge">Finance Partner</li>
            <li class="huge">Motorola Solutions</li>
            <li class="huge">Education Partner </li>
            <li class="huge">Young Lawyers Section of the Chicago Bar Association</li>
            <li class="huge">Legal Partner</li>
          </ul>
        <p>Gold Shield Partners commit to a four-year relationship with the 100 Club. They provide pro bono services ranging from educational brochures addressing the specific needs common among 100 Club families to free services. In addition to pro bono professional support to 100 Club Families, Gold Shield Partners make a significant financial gift each year.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("programs6.jpg") %>
        <%= image_tag("programs7.jpg") %>
        <%= image_tag("programs8.jpg") %>
      </div>
    </div>
  </div>

</div>

</div>

<div class="parallax-window" data-parallax="scroll" data-position="0px -270px" data-image-src="<%= asset_path 'comforting_hands.jpg' %>">
  <div class="helping_hands">
    <p id="jumbotronText">We can't do it without you</p>
    <p id="jumbotronTextMini">Join our membership programs to make a difference today</p>
    <div class="text-center">
      <button type="button" class="btn btn-lg joinDonate"> Info </button>
      <button type="button" class="btn btn-lg joinDonate"> Donate </button>
    </div>
  </div>
</div>