<div class="container">
  <div class="row">
    <% if @siren.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@siren.errors.count, "error") %> 
          prohibited this siren from being submitted:</h2>

        <ul>
        <% @siren.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h1 class="text-center">Edit Siren</h1>
    <div class="form-group">
      <%= form_tag "/sirens/#{@siren.id}", method: :patch, multipart: true do %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= label_tag :title, "title: "  %>
            <%= text_field_tag :title, @siren.title, class: 'form-control' %>
          </div>
        </div>
        <br>
        <p class="col-xs-8 col-xs-offset-2">Current file: <%= @siren.pdf.to_s.split("/").last %> </p> 
        <div class="row">
          <p>Current file: <%= @siren.pdf.to_s.split("/").last|| "none" %></p> 
          <div class="col-xs-8 col-xs-offset-2">
            <%= label_tag :pdf, "Edit Pdf:" %>
            <%= file_field_tag :pdf %>
          </div>
        </div>
        <br>
        <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div> <p>Or</p> </div>
          <%= label_tag :remove_pdf, "Check Box to Remove pdf" %>
          <%= check_box_tag :remove_pdf, class: 'checkbox' %>
        </div>
      </div>
      <br>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= submit_tag "Edit Siren", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>  