<div class="container">
  <div class="row">
    <h1 class="text-center">Add a new Siren</h1>
    <div class="form-group">
      <%= form_tag '/sirens', method: :post, multipart: true do %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= label_tag :title, "title: "  %>
            <%= text_field_tag :title, nil, class: 'form-control', placeholder: 'title' %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= label_tag :pdf, "Upload Pdf:" %>
            <%= file_field_tag :pdf %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= submit_tag "Add siren", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>  