<div class="container">
  <div class="row section-heading">
    <span id="hero-head">Fallen Heroes,&nbsp;</span><span id="hero-head-date"><%= range %></span><div id="line"></div>
  </div>  
  <% group.each_slice(3) do |heroes| %> 
    <div class="row">
      <% heroes.each do |hero| %>
        <div class="col-md-3" id="pad-right"> 
          <div class="hero-box">
            <div class="hero-name">
                <%= image_tag hero.fallen_hero_image.fallen_hero.image_url || 'original_logo.png', class:"hero-badge" %>
             <!--  <% if hero.fallen_hero_image_id != nil %>
                <%= image_tag hero.fallen_hero_image.file, class:"hero-badge" %>
                <% else %>
                <%= image_tag 'original_logo.png', class:"hero-badge" %>
              <% end %> -->
              <%= hero.full_name %>
            </div>
            <% if hero.description.length > 1 %>
              <div class="hero-body-short text-left">
                <h5 class="bold-rank"><%= hero.rank %></h5>
                <p id="department"><%= hero.department %></p>
                <div class="date"><%= hero.date_deceased.to_datetime.strftime("%m/%d/%Y")%></div>              
                <p><%= hero.description.truncate(160) %></p>
              </div>
              <div class="morebutton">
                <a href="/fallen_heroes/<%=hero.id%>" id="nounderline"><button type="button" class="read-more">Read more</button></a>
              </div>  
            <% else %>
              <div class="hero-body text-left">
                <h5 class="bold-rank"><%= hero.rank %></h5>
                <p id="department"><%= hero.department %></p>
                <div class="date"><%= hero.date_deceased.to_datetime.strftime("%m/%d/%Y")%></div>  
              </div>  
            <% end %>
          </div>
        </div>  
      <% end %>  
    </div>
  <% end %>
</div>  
