<h1>Edit Fallen Hero</h1>
<%= form_tag "/fallen_heroes/params[:id]", method: :patch do %>
  <div>
    <%= label_tag :rank, "Rank: "  %>
    <%= text_field_tag :rank, @fallen_hero.rank %>
  </div>
  <div>
    <%= label_tag :first_name, "First Name: " %>
    <%= text_field_tag :first_name, @fallen_hero.first_name %>
  </div>
  <div>
    <%= label_tag :middle_name, "Middle Name: " %>
    <%= text_field_tag :middle_name, @fallen_hero.middle_name %>
  </div>
  <div>
    <%= label_tag :last_name, "Last Name: " %>
    <%= text_field_tag :last_name, @fallen_hero.last_name %>
  </div>
  <div>
    <%= label_tag :date_deceased, "Date Deceased: " %>
    <%= date_field_tag :date_deceased, @fallen_hero.date_deceased %>
  </div>
  <div>
    <%= label_tag :department, "Department: " %>
    <%= text_field_tag :department, @fallen_hero.department %>
  </div>
  <div>
    <%= label_tag :description, "Description: " %>
    <%= text_field_tag :description, @fallen_hero.description %>
  </div>
  <div>
    <%= label_tag :image_url, "Image URL: " %>
    <%= text_field_tag :image_url, @fallen_hero.image_url %>
  </div>
<% end %>