<% count = 0 %>

<div class="container">

  <div class="row" class="block-quote-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <h3 class="block-quote">The following is a listing of public safety professionals in Cook County who lost their lives in the line of duty.</h3>
      </div>
    </div>
    <div class="col-sm-2"></div>  
  </div>

  <div class="row section-heading">
    <div class="col-xs-12 col-sm-4" id="section-heading-text">
      <p id="bold-font" style="display: inline">Fallen Heroes,&nbsp;</p><p style="display: inline">2010-2016</p>
    </div>
    <div class="col-xs-12 col-sm-8" id="section-heading-line">
      <div id="line"></div>
    </div> 
  </div> 

  <div id="fallen-heroes-row">
    <div id="new-fallen-hero-button">
      <%= button_to "Add New Fallen Hero", "/fallen_heroes/new", method: :get, :class => 'btn btn-small' %>
    </div>

    <%= @fallen_heroes.each do | fallen_hero | %>
      <% if count == 3 %>
        <div class="clear_both"></div>
        <% count = 0 %>
      <% else %>
        <% count = count + 1 %>
      <% end %>  

      <div class="col-sm-4 entry">          
        <div class="entry-top">  
          <div class="col-sm-12">
            <% if fallen_hero.image_url %>
              <div class="col-sm-5">
                <img src="<%= fallen_hero.image_url %>" />
              </div>
              <div class="col-sm-7">
                <p><%= fallen_hero.first_name %> <%= fallen_hero.middle_name %> <%= fallen_hero.last_name %></p>
              </div>
              <% else %>
              <div class="col-sm-12">
                <p><%= fallen_hero.first_name %> <%= fallen_hero.middle_name %> <%= fallen_hero.last_name %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="entry-bottom">
          <h5><%= fallen_hero.rank %></h5>
          <p><%= fallen_hero.department %></p>
          <p class="date"><%= fallen_hero.date_deceased %></p>
          <p><%= fallen_hero.description %>..</p>
          <%= button_to "Read more", "/fallen_heroes/{#fallen_hero.id}", method: :get, :class => 'btn btn-small entry-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


