<div class="jumbotron">
  <%= image_tag 'Heroes_page_header_image.jpg', class:"stretch"%>
</div>
<div class="container">
  <div class="row" class="block-quote-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <h3 class="block-quote">The following is a listing of public safety professionals in Cook County who lost their lives in the line of duty.</h3>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row section-heading">
      <span id="hero-head">Fallen Heroes,&nbsp;</span><span id="hero-head-date">2010-2016</span><div id="line"></div>

  </div>

  <div id="new-fallen-hero-button">
    <%= button_to "Add New Fallen Hero", "/fallen_heroes/new", method: :get, :class => 'btn btn-small' %>
  </div>
</div>
<div class="container">  
  <% @fallen_heroes.each_slice(3) do |heroes| %> 
    <div class="row">
      <% heroes.each do |hero| %>
        <div class="col-md-3" id="pad-right"> 
          <div class="hero-box">
            <div class="hero-name">
              <img src="<%= hero.image_url %>" /><%= hero.first_name %> <%= hero.last_name %>
            </div>
            <div class="hero-body text-left">
              <h5 class="bold-rank"><%= hero.rank %></h5>
              <p id="department"><%= hero.department %></p>
              <div class="date"><%= hero.date_deceased.strftime("%m/%d/%Y")%></div>              
              <p><%= hero.description.truncate(160) %>..</p>
              <%= button_to "Read more", "/fallen_heroes/{#hero.id}", method: :get, class:"btn-small center-block", id:"center-button"%>
            </div>  
          </div>
        </div>  
      <% end %>  
    </div>
  <% end %>
</div>  
<div class="jumbotron" id="jumbotronHands">
  <div class="container">
    <p id="jumbotronText">We can't do it without you</p>
    <p id="jumbotronTextMini">Join our membership programs to make a difference today</p>
    <div class="text-center">
        <button type="button" class="btn btn-lg joinDonate"> Join us </button>
        <button type="button" class="btn btn-lg joinDonate"> Donate </button>
    </div>
  </div>
</div>
