<% @fallen_heroes.each do | fallen_hero | %>

  <div>
  <%= fallen_hero.rank %>

  <%= fallen_hero.first_name %>

  <%= fallen_hero.middle_name %>

  <%= fallen_hero.last_name %>

  <%= fallen_hero.department %>

  <%= fallen_hero.date_deceased %>

  <%= fallen_hero.description %>
  </div>

  <img src="<%= fallen_hero.image_url %>" />

<% end %>