<% count = 0 %>

<div class="container">

  <div class="row" class="block-quote-row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div>
        <h3 class="block-quote">The following is a listing of public safety professionals in Cook County who lost their lives in the line of duty.</h3>
      </div>
    </div>
    <div class="col-sm-3"></div>  
  </div>

  <div class="row section-heading">
    <div class="col-xs-12 col-sm-3" id="section-heading-text">
      <p id="bold-font" style="display: inline">Fallen Heroes,&nbsp;</p><p style="display: inline">2010-2016</p>
    </div>
    <div class="col-xs-12 col-sm-9" id="section-heading-line">
      <div id="line"></div>
    </div> 
  </div> 

  <div id="fallen-heroes-row">
    <%= button_to "Add New Fallen Hero", "/fallen_heroes/new", method: :get %>

    <%= @fallen_heroes.each do | fallen_hero | %>
      <% if count == 3 %>
        <div class="clear_both"></div>
        <% count = 0 %>
      <% else %>
        <% count = count + 1 %>
      <% end %>  

        <div class="col-sm-4">
          <p><%= fallen_hero.first_name %> <%= fallen_hero.middle_name %> <%= fallen_hero.last_name %></h4>
          <h5><%= fallen_hero.rank %></h5>
          <p><%= fallen_hero.department %></p>
          <p><%= fallen_hero.date_deceased %></p>
          <p><%= fallen_hero.description %></p>
          <button><a href="/fallen_heroes/#{fallen_hero.id}">Read More</a></button>
        </div>
    <% end %>

  </div>

</div>