<div ng-app="app">
  <div ng-controller="aboutCtrl">
    <div class="parallax-window" data-parallax="scroll" data-position="0px -169px" data-image-src="<%= asset_path 'Heroes_page_header_image.jpeg'%>"></div>

    <div class="container">
      <div class="row" class="block-quote-row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div>
            <h3 class="block-quote">The following is a listing of public safety professionals in Cook County who lost their lives in the line of duty.</h3>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>    
    </div>

    <% if user_signed_in? %>
    <div class="container"> 
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        <br>
          <%= link_to "Add Fallen Hero", "/fallen_heroes/new", method: :get, class: 'btn btn-primary btn-block' %>
        <br>
        </div>
      </div>
    </div>
    <div class="container"> 
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= link_to "Add Badge to a Dept", "/fallen_heroes/badge_editor", method: :get, class: 'btn btn-primary btn-block' %>
        <br>
        </div>
      </div>
    </div>
    <% end %>   
    <div class="container">
      <div class="row text-center">
        <button class="btn btn-default" ng-click="show = 1">2010-present</button>
        <button class="btn btn-default" ng-click="show = 2">2000-2009</button>
        <button class="btn btn-default" ng-click="show = 3">1990-1999</button>
        <button class="btn btn-default" ng-click="show = 4">1980-1989</button>
        <button class="btn btn-default" ng-click="show = 5">1970-1979</button>
        <button class="btn btn-default" ng-click="show = 6">1967-1969</button>
      </div>
    </div>

    <div ng-show="show === nil || show === 1" >
      <%= render "heroBox", group: @first_heroes, range: "2010-present" %>
    </div>

    <div ng-show="show===2" >
       <%= render "heroBox", group: @second_heroes, range: "2010-2009" %>
    </div>

    <div ng-show="show===3" >
       <%= render "heroBox", group: @third_heroes, range: "1990-1999" %>
    </div>

    <div ng-show="show===4" >
       <%= render "heroBox", group: @fourth_heroes, range: "1980-1989" %>
    </div>

    <div ng-show="show===5" >
       <%= render "heroBox", group: @fifth_heroes, range: "1970-1979" %>
    </div>

    <div ng-show="show===6" >
       <%= render "heroBox", group: @sixth_heroes, range: "1967-1969" %>
    </div>
  </div>
</div>
<div class="jumbotron" id="jumbotron-hands">
  <div class="container">
    <p id="jumbotronText">We can't do it without you</p>
    <p id="jumbotronTextMini">Join our membership programs to make a difference today</p>
    <div class="text-center">
      <a href="/members/new"><button type="button" class="btn btn-lg joinDonate"> Join us </button></a>
      <a href="/donations/new"><button type="button" class="btn btn-lg joinDonate"> Donate </button></a>
    </div>
  </div>
</div>
  