<h1>Add a new fallen hero</h1>
<%= form_tag '/fallen_heroes', method: :post do %>

  <div class="form-group">
    <%= label_tag :image %>
    <%= text_field_tag :image %>
  </div>    
  <div class="form-group">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>    
  <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>  
  <div class="form-group">
    <%= label_tag :datetime %>
    <%= text_field_tag :datetime %>
  </div>
  <div class="form-group">
    <%= label_tag :location %>
    <%= text_field_tag :location %>
  </div>
  <div>
    <%= submit_tag "Add Fallen Hero", class: "btn btn-default" %>
  </div>
<% end %>