<div class="container">
  <p class="page-head text-center">Edit News</p>
  <div class="form-group">
    <%= form_tag "/blog_posts/#{params[:id]}", method: :patch, multipart: true  do %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :title, "Title: " %>
          <%= text_field_tag :title, @blog_post.title, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div>
            <%= label_tag :content, "Content: " %>
            <%= text_area_tag :content, @blog_post.content, rows: 10, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div>
            <%= label_tag :image, "Choose An Image: " %>
            <%= file_field_tag :image %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <p> Or </p>
          <%= label_tag :remove_image, "Check Box to Remove Image" %>
          <%= check_box_tag :remove_image, class: 'checkbox' %>
        </div> 
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <%= submit_tag "Save Changes", class: 'btn btn-primary btn-block' %>
        </div>
        <div class="col-xs-4">
          <%= link_to "Delete News", "/blog_posts/#{@blog_post.id}", method: :delete, class: 'btn btn-danger btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
