<div class="container">
  <div class="row"> 
    <p class="pageHead text-center">100 Club News</p>
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <%= link_to "Add New News Story", 'blog_posts/new', class: 'btn btn-info center-block' %>
    <% end %>
  </div>
  <div class="row">
    <% @blog_posts.each do |post| %>
      <div class="col-xs-12 text-center">
        <%= link_to "#{post.title}", "blog_posts/#{post.id}", class: 'blogPostsIndexHead'%>
        <h4><%= truncate(post.content, length: 200) %></h4>
        <%= image_tag(post.image, class: 'newsImg img-rounded') %>
      </div>
    <% end %>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @blog_posts %>
  </div>
</div>
