<div class="parallax-window" data-parallax="scroll" data-position="0px 30px" data-image-src="<%= asset_path 'newspaper_chicago.jpg'%>"></div>
<br>
<div class="container">
  <div class="row"> 
    <p class="pageHead text-center">100 Club News</p>
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-xs-8 col-xs-offset-2">
        <%= link_to "Add News", 'blog_posts/new', class: 'btn btn-info center-block' %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="row">
    <% @blog_posts.each do |post| %>
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <br>
        <div>
          <%= link_to "#{post.title}", "blog_posts/#{post.id}", class: 'blogPostsIndexHead' %>
        </div>
        <div class="newsBody">
          <%= truncate(post.content, length: 200) %>
        </div>
        <div>
          <%= image_tag(post.image, class: 'newsImg img-rounded') %>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @blog_posts %>
  </div>
</div>
