<div class="container">
  <p class="page-head text-center">Create a News Story</p>
  <div class="form-group">
    <%= form_tag '/blog_posts', method: :post, multipart: true do %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :title, "Title: " %>
          <%= text_field_tag :title, nil, class: 'form-control', placeholder: 'Title' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div>
            <%= label_tag :content, "Content: " %>
            <%= text_area_tag :content, nil, rows: 10, class: 'form-control', placeholder: 'Content' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :link, "Link: " %>
          <%= text_field_tag :link, nil, class: 'form-control', placeholder: 'Link' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div>
            <%= label_tag :image, "Image: " %>
            <%= file_field_tag :image %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div>
            <%= submit_tag "Add Story", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>