<div class="container">
  <div class="row">
    <p class="page-head text-center"><%= @blog_post.title %></p>
  </div>
  <div class="row">
    <%= image_tag @blog_post.image.large, class: 'img-rounded center-block' %>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 blog-content">
      <p><%= simple_format(@blog_post.content) %></p>
      <% if @blog_post.link.present? %>
        <p class="text-center"><a target="_blank" href="<%= @blog_post.link %>">Click here</a></p>
      <% end %>
      <%= link_to "Back to News", "/blog_posts" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% if user_signed_in? %>
        <%= link_to "Edit News", "/blog_posts/#{@blog_post.id}/edit", method: :get, class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
  <br>
</div>
