<div class="container">
  <div class="row">
		<h1 class="dashboard_title">Dashboard</h1>

		<div class="dashboard">
			<div class="edit1">
				<h2>Donations</h2>
				<%= link_to "Add", "/donations/manual_donations", class: 'dashboard_link' %>
				<%= link_to "Edit", "/donations", class: 'dashboard_link' %>
			</div>

			<div class="edit2">
				<h2>Events</h2>
				<%= link_to "Add", "/events/new", class: 'dashboard_link' %>
				<%= link_to "Edit", "/events", class: 'dashboard_link' %>
			</div>

			<div class="edit3">
				<h2>Heroes</h2>
				<%= link_to "Add", "/fallen_heroes/new", class: 'dashboard_link' %>
				<%= link_to "Edit", "/fallen_heroes", class: 'dashboard_link' %>
			</div>

			<div class="blank"></div>

			<div class="edit4">
				<h2>Members</h2>
				<%= link_to "Add", "/members/manual_members", class: 'dashboard_link' %>
				<%= link_to "Edit", "/members", class: 'dashboard_link' %>
			</div>

			<div class="edit5">
				<h2>News</h2>
				<%= link_to "Add", "/blog_posts/new", class: 'dashboard_link' %>
				<%= link_to "Edit", "/blog_posts", class: 'dashboard_link' %>
			</div>

			<div class="edit6">
				<h2>Supporters</h2>
				<%= link_to "Add", "#", class: 'dashboard_link' %>
				<%= link_to "Edit", "#", class: 'dashboard_link' %>
			</div>

			<div class="blank"></div>
		</div>

		<br><br>

	</div>
</div>