<div class="container">
  <div class="row">

		<h1 class="dashboard_title">Dashboard</h1>

		<div class="dashboard">
			<div class="edit1">
				<h2>About</h2>
				<button><%= link_to "Edit", "/about", class: 'dashboard_link' %></button>
			</div>

			<div class="edit2">
				<h2>Donations</h2>
				<button><%= link_to "Add", "/users/manual_donations", class: 'dashboard_link' %></button>
				<button><%= link_to "Match", "/donations", class: 'dashboard_link' %></button>
			</div>

			<div class="edit3">
				<h2>Events</h2>
				<button><%= link_to "Add", "/events/new", class: 'dashboard_link' %></button>
				<button><%= link_to "Edit", "/events", class: 'dashboard_link' %></button>
			</div>

			<div class="blank"></div>

			<div class="edit4">
				<h2>Heroes</h2>
				<button><%= link_to "Add", "/fallen_heroes/new", class: 'dashboard_link' %></button>
				<button><%= link_to "Edit", "/fallen_heroes", class: 'dashboard_link' %></button>
			</div>

			<div class="edit5">
				<h2>Members</h2>
				<button><%= link_to "Add", "/members/new", class: 'dashboard_link' %></button>
				<button><%= link_to "Edit", "/members", class: 'dashboard_link' %></button>
			</div>

			<div class="edit6">
				<h2>News</h2>
				<button><%= link_to "Add", "/blog_posts/new", class: 'dashboard_link' %></button>
				<button><%= link_to "Edit", "/blog_posts", class: 'dashboard_link' %></button>
			</div>

			<div class="blank"></div>

			<div class="edit_blank"></div>

			<div class="edit7">
				<h2>Supporters</h2>
				<button><%= link_to "Add", "#", class: 'dashboard_link' %></button>
				<button><%= link_to "Edit", "#", class: 'dashboard_link' %></button>
			</div>

			<div class="edit_blank"></div>
		</div>
	</div>
</div>