<h1><%= @user.email %></h1>
<p>User Access: <%= @user.user_access %></p>
<p>Blog Access: <%= @user.blog_access %></p>
<p>Events Access: <%= @user.events_access %></p>
<p>Fallen Hero Access: <%= @user.fallen_hero_access %></p>
<p>Reporting Access: <%= @user.reporting_access %></p>
<p>Member Access: <%= @user.member_access %></p>
<p>Donation Access: <%= @user.donation_access %></p>
