<div class="container">
  <p class="pageHead text-center">Edit Event</p>
  <div class="form-group">
    <%= form_tag "/events/#{params[:id]}", method: :patch do %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :title, "Title: "  %>
          <%= text_field_tag :title, @event.title, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :description, "Description: " %>
          <%= text_field_tag :description, @event.description, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :datetime, "Date and Time: " %>
          <%= datetime_select :datetime, @event.datetime, ampm: true, order: [:day, :month, :year], class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :location, "Location: " %>
          <%= text_field_tag :location, @event.location, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= submit_tag "Save Changes", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
