<h2>All Events</h2>
<%= @events.each do |event| %>
  <div>
    <h3>Event: <%= event.title %></h3>
    <h4>Date: <%= event.datetime %></h4>
    <h4>Location: <%= event.location %></h4>
    <h5><%= event.description %></h5>
    <img src="<%= event.image %>" />
  </div>
<% end %>