<h1>Add a new event</h1>
<%= form_tag '/events', method: :post do %>

  <div class="form-group">
    <%= label_tag :image %>
    <%= text_field_tag :image %>
  </div>
  <div class="form-group">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>
  <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>
  <div class="form-group">
    <%= label_tag :datetime %>
    <%= datetime_select :datetime, @event.datetime %>
  </div>
  <div class="form-group">
    <%= label_tag :location %>
    <%= text_field_tag :location %>
  </div>
  <div>
    <%= submit_tag "Add Event", class: "btn btn-default" %>
  </div>
<% end %>
