<div class="container">
  <p class="pageHead text-center">Add a New Event</p>
  <div class="form-group">
    <%= form_tag '/events', method: :post do %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :title %>
          <%= text_field_tag :title, nil, class: 'form-control', placeholder: 'Title' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :description %>
          <%= text_field_tag :description, nil, class: 'form-control', placeholder: 'Description' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :datetime %>
          <%= datetime_select :datetime, @event.datetime, ampm: true, order: [:day, :month, :year], class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= label_tag :location %>
          <%= text_field_tag :location, nil, class: 'form-control', placeholder: 'Location' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= submit_tag "Add Event", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
