<div class="container">
  <div class="row">
    <p class="page-head text-center"><%= @event.title %></p>
  </div>
  <div class="text-center"><%= image_tag @event.image %></div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p>Where: <%= @event.location %></p>
      <p>When: <%= @event.datetime.strftime('%A %b %d, %l:%M %p') %></p> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 event-content">
      <p><%= simple_format(@event.description) %></p>

      <%= link_to "Back to Events", "/events" %>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% if user_signed_in? %>
        <%= link_to "Edit Event", "/events/#{@event.id}/edit", method: :get, class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
  <br> 
</div>
 