<div class="container">
  <div class="row">

    <h1 class="donation-headers">Donation</h1>
       
    <table id="donations">
      <tr>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Donation</th>
      </tr>
      <tr>
        <td><%= @donation.title %></td>
        <td><%= @donation.first_name %></td>
        <td><%= @donation.last_name %></td>
        <td><%= @donation.address %></td>
        <td><%= @donation.city %></td>
        <td><%= @donation.state %></td>
        <td><%= @donation.zip_code %></td>
        <td><%= @donation.email %></td>
        <td><%= @donation.phone_number %></td>
        <td>$<%= @donation.amount %></td>
      </tr>
    </table>

    <br>

    <h3 class="donation-headers">Possible Matches</h3>

    <%= form_tag "/donations/#{params[:id]}", method: :patch, multipart: true do %>
      <table id="donations">
        <tr>
          <th>Select</th>
          <th>Title</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>

        <% @matching_members.each do |member| %>
            <tr>
              <td><%= radio_button_tag(:member_id, member.id) %></td>
              <td><%= member.title %></td>
              <td><%= member.first_name %></td>
              <td><%= member.last_name %></td>
              <td><%= member.address %></td>
              <td><%= member.city %></td>
              <td><%= member.state %></td>
              <td><%= member.zip_code %></td>
              <td><%= member.email %></td>
              <td><%= member.phone_number %></td>
            </tr>
        <% end %>
      </table>
      
      <div>
        <%= hidden_field_tag(:title, @donation.title) %>
        <%= hidden_field_tag(:first_name, @donation.first_name) %>
        <%= hidden_field_tag(:middle_name, @donation.middle_name) %>
        <%= hidden_field_tag(:last_name, @donation.last_name) %>
        <%= hidden_field_tag(:suffix, @donation.suffix) %>
        <%= hidden_field_tag(:address, @donation.address) %>
        <%= hidden_field_tag(:city, @donation.city) %>
        <%= hidden_field_tag(:state, @donation.state) %>
        <%= hidden_field_tag(:zip_code, @donation.zip_code) %>
        <%= hidden_field_tag(:country, @donation.country) %>
        <%= hidden_field_tag(:email, @donation.email) %>
        <%= hidden_field_tag(:phone_number , @donation.phone_number) %>
        <%= hidden_field_tag(:amount, @donation.amount) %>
      </div>

      <div>
        <%= submit_tag "Submit Changes" %>
      </div>

    <% end %>
  </div>
</div>
