<div class="container">
  <table id="donations">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Donation</th>
      <th>Donor</th>
    </tr>

    <% @donations.each do |donation| %>
      <tr>
        <td>
          <%= donation.created_at.strftime("%m/%d/%Y") %>
        </td>
        <td>
          <%= donation.first_name %> <%=donation.last_name %>
        </td>
        <td>
          <% if donation.address %>
            <%= donation.address %> 
          <% end %>
          <% if donation.city %>
            <%= donation.city %>, 
          <% end %>
          <% if donation.state %>
            <%= donation.state %>
          <% end %>
          <% if donation.zip_code %>
            <%= donation.zip_code %>
          <% end %>
        </td>
        <td>
          <% if donation.email != nil %>
            <%= donation.email %>
          <% end %>
        </td>
        <td>
          <% if donation.phone_number != nil %>
            <%= donation.phone_number %>
          <% end %>
        </td>
        <td>
          $<%= donation.amount %>
        </td>
        <td>
          <% if donation.member_id %>
            <!-- if donation has been linked to member, display checkmark -->
            <p><i class="fa fa-check" aria-hidden="true" fa-2x></i></p>
          <% else donation.member_id = !nil %>  
            <!-- if donation has possible matches, display link to connect -->
            <a href="/donations/<%= donation.id %>/edit">Link</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>  