<div class="container">
  <div class="row">
    <% @donations.each do |donation| %>      
      <%= donation.created_at.strftime("%m/%d/%Y %l:%M:%p") %>
      <%= "#{donation.first_name} #{donation.last_name}"%>
      $<%= donation.amount %>
      <% if donation.address %>
        Address: <%= donation.address %>
      <% end %>
      <% if donation.email != nil %>
        Email: <%= donation.email %>
      <% end %>
      <% if donation.phone_number != nil %>
        Phone: <%= donation.phone_number %>
      <% end %>

      <ul>
        <% @members.each do |member| %>
          <% if member.first_name == donation.first_name && member.last_name == donation.last_name %>
            <li>Matches <%= member.first_name%> <%= member.last_name%> by name.
            <% if member.address %>
              Address: <%= member.address %>, <%= member.city %>, <%= member.state %>.
            <% end %>
            <% if !member.email %>
              Email: <%= member.email %>
            <% end %>
            <% if member.phone_number %>
              Phone: <%= member.phone_number %>
            <% end %></li> 
          <% end %>
          <% if member.phone_number == donation.phone_number %>
            <li>Matches <%= member.first_name%> <%= member.last_name%> by phone number.
            <% if member.address %>
              Address: <%= member.address %>, <%= member.city %>, <%= member.state %>
            <% end %>
            <% if member.email.length > 1 %>
              Email: <%= member.email %>
            <% end %>
            <% if member.phone_number %>
              Phone:<%= member.phone_number %>
            <% end %></li> 
          <% end %>
        <% end %>  
      </ul>
    <% end %>
  </div>
</div>  