<div class="container">

  <div class="row col-lg-12">
    <p id="transformLives">Transform Lives Today</p>
    <br>
    <p>When you donate to 100 Club of Chicago, 
      you empower families of fallen first responders.</p>
    <hr>
  </div>
  <div class="row col-lg-12">
    <h3 id="transformLivesFormHead">$200 can feed a family of four for 3 weeks</h3>
    <div id="btn-toolbar">
      <button type="button" class="btn btn-lg donationButton">$500</button>
      <button type="button" class="btn btn-lg donationButton">$200</button>
      <button type="button" class="btn btn-lg donationButton">$100</button>
      <button type="button" class="btn btn-lg donationButton">$50</button>
      <button type="button" class="btn btn-lg donationButton">$20</button>
    </div>
    <br>
  </div>

  <%= form_tag("/checkout", method: "post", id: "payment-form") do %>

    <div class="form-inline">
      <%= text_field_tag :amount, nil, class: 'form-control', placeholder: "Other Amount" %>
    </div>

    <h3>Contact Information</h3>

    <div>
      <%= label_tag :title, "Title: " %>
      <%= select_tag :title, options_for_select(title) %>
    </div>
    <div>
      <%= label_tag :first_name, "First Name:* " %>
      <%= text_field_tag :first_name, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :middle_name, "Middle Name: " %>
      <%= text_field_tag :middle_name, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :last_name, "Last Name:* " %>
      <%= text_field_tag :last_name, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :suffix, "Suffix: " %>
      <%= text_field_tag :suffix, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :address, "Street Address: " %>
      <%= text_field_tag :address, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :city, "City: " %>
      <%= text_field_tag :city, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :state, "State/Provence:* " %>
      <%= select_tag :state, options_for_select(us_states) %>
    </div>
    <div>
      <%= label_tag :zip_code, "Postal Code:* " %>
      <%= text_field_tag :zip_code, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :country, "Country:* " %>
      <%= select_tag :country, options_for_select(countries) %>
    </div>
    <div>
      <%= label_tag :email, "E-mail:* " %>
      <%= text_field_tag :email, nil, class: 'form-control'  %>
    </div>
    <div>
      <%= label_tag :phone, "Phone:* " %>
      <%= text_field_tag :phone, nil, class: 'form-control'  %>
    </div>
  
    <!-- Payment Information -->

    <div >
      <%= label_tag :amount, 'Donation Amount' %>
      <%= text_field_tag :amount, '10', class: 'form-control' %>
    </div>

  </section>

</div>

<script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "<%= @token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form",
  paypal: {
    button: {
      type: 'checkout'
    }
  }

});
</script>

  <button class="button" type="submit"><span>Check Out</span></button>
<% end %>
