<div class="container">
  <h3>Donation Details</h3>
  <h4><%= @donation.title %></h4>
  <h4><%= @donation.first_name %></h4>
  <h4><%= @donation.middle_name %></h4>
  <h4><%= @donation.last_name %></h4>
  <h4><%= @donation.suffix %></h4>
  <h4><%= @donation.address %></h4>
  <h4><%= @donation.city %></h4>
  <h4><%= @donation.state %></h4>
  <h4><%= @donation.zip_code %></h4>
  <h4><%= @donation.email %></h4>
  <h4><%= @donation.phone %></h4>
  <h4>Donation amount: $<%= @donation.amount %></h4>
</div>