<div class="parallax-window" data-parallax="scroll" data-position="0px 10px" data-image-src="<%= asset_path 'firetruck.jpg' %> " ></div>

<br><br>

<div class="container">

	<p class="gold_headers supporters-title">We would like to thank the following supporters...</p>

	<div class="carousel">
		<div><%= image_tag("abc7.png") %></div>
		<div><%= image_tag("all-circo.png") %></div>
		<div><%= image_tag("beverly-bank.jpeg") %></div>
		<div><%= image_tag("chicago-fire.jpeg") %></div>
		<div><%= image_tag("coventry.jpeg") %></div>
		<div><%= image_tag("fifth-third.jpeg") %></div>
		<div><%= image_tag("flower-firm.jpeg") %></div>
		<div><%= image_tag("grosvenor.jpeg") %></div>
		<div><%= image_tag("il-troopers.jpeg") %></div>
		<div><%= image_tag("john-buck.jpeg") %></div>
		<div><%= image_tag("kovitz.png") %></div>
		<div><%= image_tag("laz-parking.png") %></div>
		<div><%= image_tag("manito-wish.jpeg") %></div>
		<div><%= image_tag("mcgrath.png") %></div>
		<div><%= image_tag("mesirow.jpeg") %></div>
		<div><%= image_tag("milkovich-photo.jpeg") %></div>
		<div><%= image_tag("motorola-solutions.jpeg") %></div>
		<div><%= image_tag("park-chicago.jpeg") %></div>
		<div><%= image_tag("sapfa.png") %></div>
		<div><%= image_tag("studio-paris.jpeg") %></div>
		<div><%= image_tag("transamerica-rs.png") %></div>
		<div><%= image_tag("turtle-wax.jpeg") %></div>
		<div><%= image_tag("united-airlines.jpeg") %></div>
		<div><%= image_tag("wsdi.jpeg") %></div>
	</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').slick({
				centerMode: true,
				centerPadding: '30px',
				slidesToShow: 3,
				autoplay: true,
				autoplaySpeed: 1500,
				responsive: [
    {
      breakpoint: 768,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
    });
</script>

</div>