<!DOCTYPE html>
<html>
<head>
  <title>OneHundredClub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-12" id="bannerDiv">
    <br>
      <h4 id="logoText"> <img id="logo" src="<%= asset_path 'original_logo.png' %>">100 Club of Chicago
        <img class="img-responsive socialTop" src="<%= asset_path 'facebook_social.png' %>">
        <img class="img-responsive socialTop" src="<%= asset_path 'instagram_social.png' %>">
        <img class="img-responsive socialTop" src="<%= asset_path 'youtube_social.png' %>">
      </h4>
    </div>
  </div>
</div>
<hr>
<!-- End Banner -->
<!-- NavBar -->
<div class="container">
  <div class="col-lg-12">
    <ul class="nav nav-justified">
      <li class="navLinks" id="home"> Home </li>
      <li class="navLinks"> About </li>
      <li class="navLinks"> Heroes </li>
      <li class="navLinks"> Programs </li>
      <li class="navLinks"> Join </li>
      <li class="navLinks"> Supporters </li>
      <li class="navLinks"> Events </li>
      <li class="navLinks"> News </li>
      <li class="navLinks" id="donate"> Donate </li>
    </ul>
  </div>
</div>
<br>

  <%= yield %>

</body>
</html>