<!DOCTYPE html>
<html>
<head>
  <title>OneHundredClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">            
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li><a href="/users/sign_up">Sign Up</a></li>
            <li><a href="/users/sign_in">Log In</a></li>
          <% else %>
            <li><a href="/users/sign_out">Log Out</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="container">
  <div class="rsow">
    <div class="col-sm-2">
      <%= image_tag '100 club.jpeg', :style => "float:right; width: 80px; height: 64px; object-fit: cover;" %>
    </div>
    <div class="col-sm-10">
      <h2 style="float:left; color:#BC9B5D; font-family:arial;"><strong>100 Club Chicago</strong></h2>
    </div>
    <div>
      <%= image_tag 'instagram icon.png', :style => "width: 28px; height: 28px; object-fit: cover; float: right; " %>
    </div>
    <div>
      <%= image_tag 'facebook icon.png', :style => "width: 28px; height: 28px; object-fit: cover; float: right; " %>
    </div>
    <div>
      <%= image_tag 'youtube icon.png', :style => "width: 28px; height: 28px; object-fit: cover; float: right; " %>
    </div>
  </div>
</div>

  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-center">
          <li><%= link_to "Home", '#', {class: "navbar-category", id: ("navbar-category-active" if current_page?('#'))} %></li>
          <li><%= link_to "About", '#', {class: "navbar-category", id: ("navbar-category-active" if current_page?('#'))} %></li>
          <li><%= link_to "Heroes", '/fallen_heroes', {class: "navbar-category", id: ("navbar-category-active" if current_page?('/fallen_heroes'))} %></li>
          <li><%= link_to "Programs", '#', {class: "navbar-category", id: ("navbar-category-active" if current_page?('#'))} %></li>          
          <li><%= link_to "Join", '/members/new', {class: "navbar-category", id: ("navbar-category-active" if current_page?('/members/new'))} %></li>
          <li><%= link_to "Supporters", '/members', {class: "navbar-category", id: ("navbar-category-active" if current_page?('/members'))} %></li>
          <li><%= link_to "Events", '/events', {class: "navbar-category", id: ("navbar-category-active" if current_page?('/events'))} %></li>
          <li><%= link_to "News", '/blog_posts', {class: "navbar-category", id: ("navbar-category-active" if current_page?('/blog_posts'))} %></li>
          <li><%= link_to "Donate", '/donations/new', {class: "navbar-donate", id: ("navbar-donate-active" if current_page?('/donations/new'))} %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
