<!DOCTYPE html>
<html>
<head>
  <title>OneHundredClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag '100 club.jpeg', :style => "float:right; width: 80px; height: 64px; object-fit: cover;" %>
    </div>
    <div class="col-sm-10">
      <h2 style="float:left; color:#BC9B5D; font-family:arial;"><strong>100 Club Chicago</strong></h2>
    </div>
    <div>
      <%= image_tag 'instagram icon.png', :style => "width: 28px; height: 28px; object-fit: cover; float: right; " %>
    </div>
    <div>
      <%= image_tag 'facebook icon.png', :style => "width: 28px; height: 28px; object-fit: cover; float: right; " %>
    </div>
    <div>
      <%= image_tag 'youtube icon.png', :style => "width: 28px; height: 28px; object-fit: cover; float: right; " %>
    </div>
  </div>
</div>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
