<!DOCTYPE html>
<html>
<head>
  <title>OneHundredClub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Top Banner and NavBar -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <br>
      <h4 id="logoText"> <img id="logo" src="<%= asset_path 'original_logo.png' %>">100 Club of Chicago
        <img class="img-responsive socialTop" src="<%= asset_path 'facebook_social.png' %>">
        <img class="img-responsive socialTop" src="<%= asset_path 'instagram_social.png' %>">
        <img class="img-responsive socialTop" src="<%= asset_path 'youtube_social.png' %>">
      </h4>
    </div>
  </div>
</div>
<hr>

  <%= yield %>

</body>
</html>