<div class="container">
  <h1>Edit Member</h1>
  <%= form_tag "/members/#{params[:id]}", method: :patch, multipart: true do %>
    <div>
      <%= label_tag :title, "Title: " %>
      <%= text_field_tag :title, @member.title %>
    </div>
    <div>
      <%= label_tag :first_name, "First Name: " %>
      <%= text_field_tag :first_name, @member.first_name %>
    </div>
    <div>
      <%= label_tag :middle_name, "Middle Name: " %>
      <%= text_field_tag :middle_name, @member.middle_name %>
    </div>
    <div>
      <%= label_tag :last_name, "Last Name: " %>
      <%= text_field_tag :last_name, @member.last_name %>
    </div>
    <div>
      <%= label_tag :suffix, "Suffix: " %>
      <%= text_field_tag :suffix, @member.suffix %>
    </div>
    <div>
      <%= label_tag :address, "Street Address: " %>
      <%= text_field_tag :address, @member.address %>
    </div>
    <div>
      <%= label_tag :city, "City: " %>
      <%= text_field_tag :city, @member.city %>
    </div>
    <div>
      <%= label_tag :state, "State: " %>
      <%= select_tag :state, options_for_select(us_states, @member.state) %>
    </div>
    <div>
      <%= label_tag :zip_code, "Zip Code: " %>
      <%= text_field_tag :zip_code, @member.zip_code %>
    </div>
    <div>
      <%= label_tag :country, "Country: " %>
      <%= select_tag :country, options_for_select(countries, @member.country) %>
    </div>
    <div>
      <%= label_tag :company, "Company: " %>
      <%= text_field_tag :company, @member.company %>
    </div>
    <div>
      <%= label_tag :job_title, "Job Title: " %>
      <%= text_field_tag :job_title, @member.job_title %>
    </div>
    <div>
      <%= label_tag :email, "E-mail: " %>
      <%= text_field_tag :email, @member.email %>
    </div>
    <div>
      <%= label_tag :phone, "Phone: " %>
      <%= text_field_tag :phone, @member.phone %>
    </div>
    <div>
      <%= label_tag :name_on_card, "Name On Card: " %>
      <%= text_field_tag :name_on_card, @member.name_on_card %>
    </div>
    <div>
      <%= label_tag :other_name_1, "Additional Name: " %>
      <%= text_field_tag :other_name_1, @member.other_name_1 %>
    </div>
    <div>
      <%= label_tag :other_name_2, "Additional Name: " %>
      <%= text_field_tag :other_name_2, @member.other_name_2 %>
    </div>
    <div>
      <%= label_tag :other_name_3, "Additional Name: " %>
      <%= text_field_tag :other_name_3, @member.other_name_3 %>
    </div>
    <div>
      <%= submit_tag "Submit Changes" %>
    </div>
  <% end %>
</div>
