<div class="container">
  <h3><%= "#{@member.title} #{@member.first_name} #{@member.middle_name} #{@member.last_name} #{@member.suffix}" %></h3>
  <p><b>Job Title:</b> <%= @member.job_title %></p>
  <p><b>Company:</b> <%= @member.company %></p>
  <h3>Contact Info</h3>
  <p><b>Address</b> <%= "#{@member.address}, #{@member.city}, #{@member.state}, #{@member.zip_code}, #{@member.country}" %></p>
  <p><b>E-mail:</b> <%= @member.email %></p>
  <p><b>Phone:</b> <%= @member.phone %></p>
  <h3>Administrative Info</h3>
  <p>Name on Card: <%= @member.name_on_card %></p>
  <p>Additional: <%= @member.other_name_1 %></p>
  <p>Additional: <%= @member.other_name_2 %></p>
  <p>Additional: <%= @member.other_name_3 %></p>
  <p>How They Heard About Site: <%= @member.how_they_heard %></p>
  <p>If Other: <%= @member.if_other %></p>
</div>